@model DataGov_API_Intro.Models.Parks

@{
    ViewBag.Title = "Index";
}

<h2>Parks Data :</h2>

<table class="table table-bordered table-responsive table-hover">
    <tr>

        <th>parkCode </th>
        <th>fullName </th>
        <th>latLong </th>

    </tr>
    @foreach (DataGov_API_Intro.Models.Park park in Model.data)
    {
        <tr>

            <td>@park.parkCode</td>
            <td>@park.fullName</td>
            <td>@park.latLong</td>


        </tr>

    }
</table>

<a href="/home/parks">Home page in html</a>
<p>

</p>
<a asp-controller="Home"
   asp-action="Parks"
   asp-route-id="12">
    Home page
</a> 
